<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">  
    </head>

    <body>
        
            {{>header}}
            <p>if you faced any problem feel free to contact me on {{email}}</p>
            {{>footer}}
        
    </body>

</html>
