<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">  
    </head>

    <body>
        
            {{>header}}
            <p>sorry it seems like you're looking for deleted or unexsiting page</p>
            {{>footer}}
        
    </body>

</html>
